asgiref==3.12.1
boto3==1.43.57
botocore==1.43.57
diskcache==5.6.3
Django==6.0.7
django-cors-headers==4.9.0
django-environ==0.14.0
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
Jinja2==3.1.6
jmespath==1.1.0
llama_cpp_python @ file:///E:/Socrates/backend/llama_cpp_python-0.3.34-py3-none-win_amd64.whl#sha256=6526fff614e5ef7e439e6369e076a78073e45e1d791dbe1d5e5d42661f46ca1a
MarkupSafe==3.0.3
numpy==2.5.1
packaging==26.2
pillow==12.3.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
pymupdf==1.28.0
python-dateutil==2.9.0.post0
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
